.login{
    border: 1px,solid,lightgray;
    border-radius: 10px;
    width:fit-content;
    margin:auto;
    padding: 5%;
    padding-top: 2%;
}
a{
    color:#006e7a;
}
*{
    font-family: sans-serif;
}
h1{
    font-family: serif;
}
.inputfield{
    padding-top: 5%;
    padding-bottom: 5%;
}
.show{
    border: none;
    background-color: #ffffff;
    color:#006e7a;
}
.showicon{
    height: 1em;
    width: 1em;
}